@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
  --color-accent: #f59e0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  @apply border-slate-200 dark:border-slate-800;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-white;
}
